.block1{    
    width:50px;
    height:50px;
    background:#0003af;
}
.block2{
   
    width:100px;
    height:100px;
    background:red;
}
.block3{
    width:200px;
    height:200px;
    background:yellow;
}
.block4{
    width:80%;
    height:150px;
    background:green;
}
.block5{
    width:500px;
    height:500px;
    background:#00b6ff;
}
.a1{
    width:300px;
    height:300px;
    background:orange;
}
.a2{
    width:100px;
    height:100px;
    background:#0000cc;
}
.b1{
    width:40%;
    height:200px;
    background:#00b6ff;
}
.b2{
    width:350px;
    height:300px;
    background:orange;
}
.b3{
    width:150px;
    height:100px;
    background:#0000cc;
}
.d2{
    width:600px;
    height:300px;
    background:gray;
}

.d1{
    width:400px;
    height:300px;
    background:yellow;
}
   


.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 40%;
    padding: 20;
    margin: 20;
}
.box1 {
    background-color: #7CFC00;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    padding: 20px;
}
.box2 {
    background-color: #FF4500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    grid-row: span 2;
    padding: 30px;
    width: 40%;
    
}
.box3 {
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    padding: 40px;  
}

    {
        padding: 0;
        margin: 0;
    }

    .block{
        width:100%;
        height:400px;
        color: white;
        display: flex;
    }
    .book1{
        width:20%;
        height:100%;
        display:inline-block;
        background:blue;
        padding: 10px;
    }
    .book2{
        width:20%;
        height:100%;
        background:green;
        padding: 10px;
    }
    .book3{
        width:20%;
        height:100%;
        background:black;
        padding: 10px;
    }
       
