.block{
    width: 95%;
    height: 230px;
    border-style:outset;
    margin: 10px;
    padding: 0 20px;
}
.block10 h1{
    font-family: sans-serif;
    font-size: 24px;
    text-shadow: 1px 2px 4px gray;
    font-weight: 700px;
}
.block10 p{
    text-align: justify;
}

.a1{
    width: 100%;
    height: 430px;
}
.a{
    border-style: outset;
    width: 30%;
    box-sizing: border-box;
    height: 98%;
    display: inline-block;
    padding: 0px 20px;
    margin: 21px;
}
.a1 h1{
    font-family: sans-serif;
    font-size: 24px;
    text-shadow: 1px 2px 4px gray;
    font-weight: 700px;
} 
.a1 strong{
    font-size: 16px;
    display: block;
    text-align: justify;
    font-weight: 100;
}
.a1 img{
    width: 100%;
    height: 45%;
    padding: 10px 0px;
    object-fit: center;
}
.a1 button{
    font-size: 15px;
    width: 90px;
    height: 30px;
    background: black;
    color: whitesmoke;
}

.b1{
    margin: 20px 200px;
 }
 .b{
    display: inline-block;
    width: 30%;
    height: 400px;
    margin: 10px;
 }
 .b img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
 }
 .b h6{
    color: rgb(158, 158, 158);
 }
 .b h1{
    font-size: 28px;
    font-family: sans-serif;
 }
 .b h5{
    color: gray;
 }
 .b1 button{
    font-size: 15px;
    width: 120px;
    height: 30px;
    background: black;
    color: whitesmoke;
    margin:0px 455px;
 }

